<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h5>Item Info</h5>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <div class="container">
              <div class="row mb-3">
                <label for="name" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                  <input type="text" name="name" id="name" class="form-control" required
                    [(ngModel)]="item.name" #name="ngModel"
                    appInvalidStyle [errors]="errors"
                    placeholder="name"
                  >
                  <app-error-list [errors]="errors" [model]="name"></app-error-list>
                </div>
              </div>
              <div class="row mb-3">
                <label for="price" class="col-2 col-form-label">Price</label>
                <div class="col-10">
                  <input type="number" name="price" id="price" class="form-control" required min="0" max="9999"
                    [(ngModel)]="item.price" #price="ngModel"
                    appInvalidStyle [errors]="errors"
                    placeholder="100"
                  >
                  <app-error-list [errors]="errors" [model]="price"></app-error-list>
                </div>
              </div>
              <div class="row mb-3">
                <label for="description" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                  <textarea name="description" id="description" class="form-control" required
                    [(ngModel)]="item.description" #description="ngModel"
                    appInvalidStyle [errors]="errors"
                    placeholder="desc"
                    ></textarea>
                  <app-error-list [errors]="errors" [model]="description"></app-error-list>
                </div>
              </div>
              <div class="row mb-3">
                <label for="file" class="col-2 col-form-label">Image File</label>
                <div class="col-10">
                  <input type="file" name="file" id="file" class="form-control" accept="image/*" required
                    (change)="readFile($event)"
                    [ngClass]="{ 'is-invalid': addInvalidClass }"
                  >
                  <div *ngIf="addInvalidClass" class="invalid-feedback">
                    <div>未入力にすることはできません</div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-light me-2" (click)="goBack()">Back</button>
                <button type="button" class="btn btn-primary" [disabled]="form.invalid || isInValidFile" (click)="onSubmit(form)">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
