<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h5>User Info</h5>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <div class="container">
              <div class="row mb-3">
                <label for="id" class="col-2 col-form-label">ID</label>
                <div class="col-10">
                  <input type="number" name="id" id="id" class="form-control-plaintext" readonly
                    [(ngModel)]="user.id" #id="ngModel"
                    placeholder="1"
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label for="name" class="col-2 col-form-label">Login ID</label>
                <div class="col-10">
                  <input type="text" name="loginId" id="loginId" class="form-control-plaintext" readonly
                    [(ngModel)]="user.loginId" #loginId="ngModel"
                    placeholder="loginid"
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label for="name" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                  <input type="text" name="name" id="name" class="form-control-plaintext" readonly
                    [(ngModel)]="user.name" #name="ngModel"
                    placeholder="name"
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label for="price" class="col-2 col-form-label">Role</label>
                <div class="col-10">
                  <input type="text" name="role" id="role" class="form-control-plaintext" readonly
                    [(ngModel)]="user.role" #role="ngModel"
                    placeholder="role"
                  >
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
