<div class="container">
  <form>
    <div class="row mb-3">
      <label for="id" class="col-2 col-form-label">ID</label>
      <div class="col-10">
        <input type="number" name="id" id="id" class="form-control-plaintext" [(ngModel)]="item.id" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <label for="name" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input type="text" name="name" id="name" class="form-control-plaintext" [(ngModel)]="item.name" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <label for="price" class="col-2 col-form-label">Price</label>
      <div class="col-10">
        <input type="number" name="price" id="price" class="form-control-plaintext" [(ngModel)]="item.price" readonly>
      </div>
    </div>
    <div class="row mb-3">
      <label for="description" class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <input type="text" name="description" id="description" class="form-control-plaintext" [(ngModel)]="item.description" readonly>
      </div>
    </div>
    <button class="btn btn-light" (click)="goBack()">Back</button>
  </form>
</div>
